/*
 * Copyright (C) 2016 Engicam srl
 * Milco Pratesi <support@engicam.com>
 *
 * based on Freescale file:
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * See file CREDITS for list of people who contributed to this
 * project.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not write to the Free Software
 * Foundation Inc. 51 Franklin Street Fifth Floor Boston,
 * MA 02110-1301 USA
 *
 * Refer docs/README.imxmage for more details about how-to configure
 * and create imximage boot image
 *
 * The syntax is taken as close as possible with the kwbimage
 */
/* image version */

#define __ASSEMBLY__
#include <config.h>
#include "asm/arch/mx6-ddr.h"
#include "asm/arch/iomux.h"
#include "asm/arch/crm_regs.h"

IMAGE_VERSION 2

/*
 * Boot Device : one of spi, sd, eimnor, nand, sata:
 * spinor: flash_offset: 0x0400
 * nand:   flash_offset: 0x0400
 * sata:   flash_offset: 0x0400
 * sd/mmc: flash_offset: 0x0400
 * eimnor: flash_offset: 0x1000
 */


BOOT_FROM	sd

#ifdef CONFIG_USE_PLUGIN
/*PLUGIN    plugin-binary-file    IRAM_FREE_START_ADDR*/
PLUGIN	board/freescale/mx6qsabreauto/plugin.bin 0x00907000
#else

#ifdef CONFIG_SECURE_BOOT
SECURE_BOOT
#endif

/*
 * Device Configuration Data (DCD)
 *
 * Each entry must have the format:
 * Addr-type           Address        Value
 *
 * where:
 *	Addr-type register length (1,2 or 4 bytes)
 *	Address	  absolute address of the register
 *	value	  value to be stored in the register
 */
DATA 4, MX6_IOM_DRAM_SDQS0, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDQS1, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDQS2, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDQS3, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDQS4, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDQS5, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDQS6, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDQS7, 0x00000030         
DATA 4, MX6_IOM_DRAM_DQM0, 0x00000030         
DATA 4, MX6_IOM_DRAM_DQM1, 0x00000030         
DATA 4, MX6_IOM_DRAM_DQM2, 0x00000030         
DATA 4, MX6_IOM_DRAM_DQM3, 0x00000030         
DATA 4, MX6_IOM_DRAM_DQM4, 0x00000030         
DATA 4, MX6_IOM_DRAM_DQM5, 0x00000030         
DATA 4, MX6_IOM_DRAM_DQM6, 0x00000030         
DATA 4, MX6_IOM_DRAM_DQM7, 0x00000030         
DATA 4, MX6_IOM_DRAM_CAS, 0x00000030         
DATA 4, MX6_IOM_DRAM_RAS, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDCLK_0, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDCLK_1, 0x00000030         
DATA 4, MX6_IOM_DRAM_RESET, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDCKE0, 0x00003000         
DATA 4, MX6_IOM_DRAM_SDCKE1, 0x00003000         
DATA 4, MX6_IOM_DRAM_SDBA2, 0x00000000         
DATA 4, MX6_IOM_DRAM_SDODT0, 0x00000030         
DATA 4, MX6_IOM_DRAM_SDODT1, 0x00000030         
DATA 4, MX6_IOM_GRP_B0DS, 0x00000030         
DATA 4, MX6_IOM_GRP_B1DS, 0x00000030         
DATA 4, MX6_IOM_GRP_B2DS, 0x00000030         
DATA 4, MX6_IOM_GRP_B3DS, 0x00000030         
DATA 4, MX6_IOM_GRP_B4DS, 0x00000030         
DATA 4, MX6_IOM_GRP_B5DS, 0x00000030         
DATA 4, MX6_IOM_GRP_B6DS, 0x00000030         
DATA 4, MX6_IOM_GRP_B7DS, 0x00000030         
DATA 4, MX6_IOM_GRP_ADDDS, 0x00000030         
DATA 4, MX6_IOM_DDRMODE_CTL, 0x00020000         
DATA 4, MX6_IOM_GRP_DDRPKE, 0x00000000         
DATA 4, MX6_IOM_GRP_DDRMODE, 0x00020000         
DATA 4, MX6_IOM_GRP_CTLDS, 0x00000030         
DATA 4, MX6_IOM_GRP_DDR_TYPE, 0x000C0000   

DATA 4, 0x020e0534,	0x00018200 	/* IOMUXC_SW_PAD_CTL_PAD_DRAM_ADDR02  (SDQS0_B_TRIM=01, SDQS0_TRIM=10)                                              */
DATA 4, 0x020e0538,	0x00008000 	/* IOMUXC_SW_PAD_CTL_PAD_DRAM_ADDR03  (SDQS1_B_TRIM=00, SDQS1_TRIM=00)DATA 4, MX6_MMDC_P0_MPRDDQBY0DL, 0x33333333   */      
DATA 4, 0x020e053c,	0x00018200 	/* IOMUXC_SW_PAD_CTL_PAD_DRAM_ADDR04  (SDQS2_B_TRIM=01, SDQS2_TRIM=10)DATA 4, MX6_MMDC_P0_MPRDDQBY1DL, 0x33333333   */      
DATA 4, 0x020e0540,	0x00018200 	/* IOMUXC_SW_PAD_CTL_PAD_DRAM_ADDR05  (SDQS3_B_TRIM=01, SDQS3_TRIM=10)DATA 4, MX6_MMDC_P0_MPRDDQBY2DL, 0x33333333   */      
DATA 4, 0x020e0544,	0x00018200 	/* IOMUXC_SW_PAD_CTL_PAD_DRAM_ADDR06  (SDQS4_B_TRIM=01, SDQS4_TRIM=10)DATA 4, MX6_MMDC_P0_MPRDDQBY3DL, 0x33333333   */      
DATA 4, 0x020e0548,	0x00018200 	/* IOMUXC_SW_PAD_CTL_PAD_DRAM_ADDR07  (SDQS5_B_TRIM=01, SDQS5_TRIM=10)DATA 4, MX6_MMDC_P1_MPRDDQBY0DL, 0x33333333   */      
DATA 4, 0x020e054c,	0x00018200 	/* IOMUXC_SW_PAD_CTL_PAD_DRAM_ADDR08  DATA 4, MX6_MMDC_P1_MPRDDQBY1DL, 0x33333333                                   */
DATA 4, 0x020e0550,	0x00018200 	/* IOMUXC_SW_PAD_CTL_PAD_DRAM_ADDR09  (SDQS7_B_TRIM=01, SDQS7_TRIM=10)DATA 4, MX6_MMDC_P1_MPRDDQBY2DL, 0x33333333   */      

DATA 4, MX6_MMDC_P1_MPRDDQBY3DL, 0x33333333         
DATA 4, MX6_MMDC_P0_MDMISC, 0x00011740         
DATA 4, MX6_MMDC_P0_MDSCR, 0x00008000         
DATA 4, MX6_MMDC_P0_MDCFG0, 0x54597955         
DATA 4, MX6_MMDC_P0_MDCFG1, 0xFF328F64         
DATA 4, MX6_MMDC_P0_MDCFG2, 0x01FF00DB         
DATA 4, MX6_MMDC_P0_MDRWD, 0x000026D2         
DATA 4, MX6_MMDC_P0_MDOR, 0x00591023         
DATA 4, MX6_MMDC_P0_MDOTC, 0x09444040         
DATA 4, MX6_MMDC_P0_MDPDC, 0x00020036         
DATA 4, MX6_MMDC_P0_MDASP, 0x00000047         
DATA 4, 0x021b0400,	0x14420000	/* adopt bypass */
DATA 4, MX6_MMDC_P0_MDCTL, 0x831A0000
DATA 4, 0x021b0890,	0x00400c58	/* ZQ Offset */        
DATA 4, MX6_MMDC_P0_MDSCR, 0x02088032	/* MMDC0_MDSCR, MR2 write, CS0                              */
DATA 4, MX6_MMDC_P0_MDSCR, 0x00008033	/* MMDC0_MDSCR, MR3 write, CS0                              */
DATA 4, MX6_MMDC_P0_MDSCR, 0x00048031	/* MMDC0_MDSCR, MR1 write, CS0                              */
DATA 4, MX6_MMDC_P0_MDSCR, 0x19408030	/* MMDC0_MDSCR, MR0write, CS0                               */
DATA 4, MX6_MMDC_P0_MDSCR, 0x04008040	/* MMDC0_MDSCR, ZQ calibration command sent to device on CS */
DATA 4, MX6_MMDC_P0_MPZQHWCTRL, 0xA1390003         
DATA 4, MX6_MMDC_P1_MPZQHWCTRL, 0xA1380003         
DATA 4, MX6_MMDC_P0_MDREF, 0x00007800         
DATA 4, MX6_MMDC_P0_MPODTCTRL, 0x00022227         
DATA 4, MX6_MMDC_P1_MPODTCTRL, 0x00022227         
DATA 4, MX6_MMDC_P0_MPDGCTRL0, 0x03280334         
DATA 4, MX6_MMDC_P0_MPDGCTRL1, 0x0320031C         
DATA 4, MX6_MMDC_P1_MPDGCTRL0, 0x031C0324         
DATA 4, MX6_MMDC_P1_MPDGCTRL1, 0x027C0258         
DATA 4, MX6_MMDC_P0_MPRDDLCTL, 0x40323840         
DATA 4, MX6_MMDC_P1_MPRDDLCTL, 0x38383444         
DATA 4, MX6_MMDC_P0_MPWRDLCTL, 0x3E3E4646         
DATA 4, MX6_MMDC_P1_MPWRDLCTL, 0x503E4A44         
DATA 4, MX6_MMDC_P0_MPWLDECTRL0, 0x00000000         
DATA 4, MX6_MMDC_P0_MPWLDECTRL1, 0x000B0004         
DATA 4, MX6_MMDC_P1_MPWLDECTRL0, 0x00000000         
DATA 4, MX6_MMDC_P1_MPWLDECTRL1, 0x00000000         
DATA 4, MX6_MMDC_P0_MPMUR0, 0x00000800         
DATA 4, MX6_MMDC_P1_MPMUR0, 0x00000800         
DATA 4, MX6_MMDC_P0_MDPDC, 0x00025576	/* MMDC0_MDPDC now SDCTL power down enabled */         
DATA 4, MX6_MMDC_P0_MAPSR, 0x00011006         
DATA 4, MX6_MMDC_P0_MDSCR, 0x00000000         

                                       

/* set the default clock gate to save power */
DATA 4, CCM_CCGR0, 0xFFFFFFFF         
DATA 4, CCM_CCGR1, 0xFFFFFFFF         
DATA 4, CCM_CCGR2, 0xFFFFFFFF         
DATA 4, CCM_CCGR3, 0xFFFFFFFF         
DATA 4, CCM_CCGR4, 0xFFFFFFFF         
DATA 4, CCM_CCGR5, 0xFFFFFFFF         
DATA 4, CCM_CCGR6, 0xFFFFFFFF         

/* enable AXI cache for VDOA/VPU/IPU */
DATA 4, MX6_IOMUXC_GPR4, 0xF00000CF
/* set IPU AXI-id0 Qos=0xf(bypass) AXI-id1 Qos=0x7 */
DATA 4, MX6_IOMUXC_GPR6, 0x007F007F
DATA 4, MX6_IOMUXC_GPR7, 0x007F007F
#endif
